click @ file:///home/conda/feedstock_root/build_artifacts/click_1666798198223/work
Flask @ file:///home/conda/feedstock_root/build_artifacts/flask_1676592993069/work
Flask-Cors @ file:///home/conda/feedstock_root/build_artifacts/flask_cors_1609901734655/work
gunicorn @ file:///Users/runner/miniforge3/conda-bld/gunicorn_1666818670755/work
importlib-metadata @ file:///home/conda/feedstock_root/build_artifacts/importlib-metadata_1679167925176/work
itsdangerous @ file:///home/conda/feedstock_root/build_artifacts/itsdangerous_1648147185463/work
Jinja2 @ file:///home/conda/feedstock_root/build_artifacts/jinja2_1654302431367/work
MarkupSafe @ file:///Users/runner/miniforge3/conda-bld/markupsafe_1674135864373/work
six @ file:///home/conda/feedstock_root/build_artifacts/six_1620240208055/work
Werkzeug @ file:///home/conda/feedstock_root/build_artifacts/werkzeug_1676411946679/work
zipp @ file:///home/conda/feedstock_root/build_artifacts/zipp_1677313463193/work
